body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #514c4c;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 50px auto;
    background: rgb(161, 149, 158);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button{
background: #d7e0ea74;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
button:hover{
    background: #c0c8d2;
}